{% extends 'new_template/base.html' %} {% block newMain %}

<br />
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="ps-contact-info">
      <div class="container">
        <div class="ps-section__content">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Name: {{item.address.fname|title}} {{item.address.lname|title}}</h4>                
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Country: {{item.address.country|title}}</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Address Line 1: {{item.address.address_1|title}} </h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Address Line 2: {{item.address.address_2|title}}</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>City: {{item.address.city|title}}</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>County: {{item.address.state|title}}</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Phone Number: {{item.address.contact|title}}</h4>
                <p><span></span></p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Product: {{item.product|title}}</h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="ps-block--contact-info">
                <h4>Quantity: {{item.quantity|title}}</h4>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="ps-block--contact-info text-center">
                <h4>Delivery Status:</h4>
                {% if item.delivery == "delivered" %}
                <p style="color: green"><span>{{item.delivery|title}}</span></p>
                {% else %}
                <p style="color: red"><span>{{item.delivery|title}}</span></p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock newMain %}