{% extends 'new_template/base.html' %}
{% block newMain %}

<style>
    .col-4 {
        width: 28%;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="row ">
        <div id="login-form">
            <br>
            <form class="col-12 p-2">

                <div class="row d-flex justify-content-center">
                    <div class="container-login100 text-center pt-5">
                        <div class="p-t-20 p-b-45">
                            <h1>Password Reset Complete.</h1>
                            <p style="color:black;" class="p-t-10">Your New Password Has Been Set. You Can Log In Now On
                                The <a style="color:red;" href="{% url 'login' %}">Login</a> Page.</p>
                        </div>
                    </div>
                    <br>
                    <br><br><br><br><br><br>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock newMain %}